/* .container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff;
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
	background: linear-gradient(to right,
			#e2e2e2,
			#c9d6ff);
	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}

body {
	background: #4776e6;
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
	background: linear-gradient(to right,
			#8e54e9,
			#4776e6);
} */

body {
	overflow: hidden;
}

.box {
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
	/* position: relative; */
}

.box-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	position: absolute;
	top: 1rem;
	left: 25%;
	z-index: 101;
}

.box-title-icon {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.box-title-item {
	font-size: 30px;
	font-family: sans-serif;
	color: green;
}

.box-title-item span {
	font-size: 20px;
	color: blue;
}

.video-box {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	z-index: 1;
}

.my-video {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 100%;
	height: 100%;
	z-index: 10;
	border-radius: 10px;
	overflow: hidden;
}

.user-video {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 250px;
	height: 400px;
	z-index: 1111;
	border-radius: 10px;
	overflow: hidden;
}

.input-group {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	z-index: 9999;
}

input {
	padding: .5rem 1rem;
	outline: none;
	border: none;
	border-bottom: 2px solid green;
	font-size: 18px;
	color: green;
	width: 90%;
}

.id-btn {
	position: relative;
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: rgba(0, 0, 0, 0.5); */
	background-color: #87aa83;
	transition: 1s;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	outline: none;
}

/* .id-btn:hover {
	background: #08152B;
	box-shadow: 0 0 10px #08152B,
		0 0 30px #08152B,
		0 0 50px #08152B;
} */

.id-btn:hover {
	background: #169c0a;
	box-shadow: 0 0 10px #169c0a,
		0 0 30px #169c0a,
		0 0 50px #169c0a;
}

.id-btn::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 400%;
	/* background: #08152B; */
	background-color: green;
	transition: 1s;
	animation: animateBtn 2s linear infinite;
	animation-delay: calc(0.33%*2);
	border-radius: 8px;
}

.id-btn:hover::before {
	width: 120%;
}

@keyframes animateBtn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.id-btn::after {
	content: '';
	position: absolute;
	inset: 4px;
	background: white;
	transition: .5s;
	border-radius: 8px;
}

.id-btn:hover::after {
	/* background: #08152B; */
	background-color: green;
}

.id-btn:hover .id-btn-span {
	color: white;
}

.id-btn span {
	/* position: relative; */
	z-index: 1;
	font-size: 18px;
	color: #08152B;
	opacity: 1;
	text-transform: capitalize;
	letter-spacing: 4px;
	transition: .5s;
}

.id-title {
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	color: green;
}

.user-id {
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	color: green;
}

.call-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 10px;
	line-height: 1.8rem;
	letter-spacing: 3px;
	font-size: 18px;
	font-family: sans-serif;
	color: #0076F5;
	transition: all .3s ease-in-out;
	z-index: 9999;
}

.call-box:hover {
	background-color: #57CEF3;
	color: white;
}

.call-box img {
	width: 50px;
	height: 50px;
}

.animation-call {
	animation: animationCall 2s infinite linear;
}

@keyframes animationCall {
	0% {
		transform: scale(.9);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(.9);
	}

}

.call-div {
	position: absolute;
	bottom: 15%;
	z-index: 9999;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.caller-name {
	text-align: center;
	font-weight: bold;
	color: green;
	font-size: 40px;
}

.call {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15%;
}

.answer-call {
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	background: transparent;
	backdrop-filter: blur(20px);
	padding: .5rem 1rem;
	border-radius: 15px;
	cursor: pointer;
}

.answer-call img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	animation: answerBtn 2s infinite linear;
}

@keyframes answerBtn {
	0% {
		transform: rotate(-7deg);
	}

	50% {
		transform: rotate(17deg);
	}

	100% {
		transform: rotate(-7deg);
	}

}

.end-call {
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	background: transparent;
	backdrop-filter: blur(20px);
	padding: .5rem 1rem;
	border-radius: 15px;
	cursor: pointer;
}

.end-call img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/* transform: rotate(-90deg); */
	animation: endBtn 2s infinite linear;
}

@keyframes endBtn {
	0% {
		transform: scale(.9) rotate(-90deg);
	}

	50% {
		transform: scale(1.1) rotate(-90deg);
	}

	100% {
		transform: scale(.9) rotate(-90deg);
	}

}

.answer-call h4,
.end-call h4 {
	font-family: sans-serif;
	font-size: 20px;
	color: #0076F5;
}

.end-call h4 {
	color: red;
}

.ended-box {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
}

.ended-box img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.ended-box img:hover {
	animation: ended 1s infinite linear;
}

@keyframes ended {
	0% {
		transform: scale(.9);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(.9);
	}
}

.calling-name {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	color: green;
	font-size: 30px;
}

.kuting {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	position: absolute;
	z-index: 1111;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	font-size: 30px;
	color: green;
}


@media (min-width: 0) and (max-width: 575px) {
	.user-video {
		width: 100px;
		height: 200px;
	}

	.input-group {
		top: 4rem;
		/* left: 15%; */
		left: 50%;
		transform: translateX(-50%);
		gap: 1.5rem;
	}

	.box-title {
		top: 0;
	}

}


@media (min-width: 576px) and (max-width: 766px) {
	.user-video {
		width: 100px;
		height: 200px;
	}

	.input-group {
		top: 4rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.box-title {
		top: 0;
	}
}

@media (min-width: 767px) and (max-width: 991px) {
	.user-video {
		width: 150px;
		height: 300px;
	}

	.input-group {
		top: 4rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.box-title {
		top: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {}